<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/<%= user.id %>" method="POST">
        <input type="text" name="name" placeholder="Enter your Name" value="<%= user.name %>">
        <input type="email" name="email" placeholder="Enter your Email" value="<%= user.email %>">
        <input type="number" name="age" placeholder="Enter your Age"  value="<%= user.age %>">
        <textarea name="bio" rows="7" placeholder="Enter your bio"><%= user.bio %></textarea>
        <input type="text" name="hobbies" placeholder="Enter hobbies" value="<%= user.hobbies %>">
        <input type="submit" value="Update User">
    </form>
</body>
</html>